{% include 'base.html' %}

<title> Contact </title>

{% block body %}
<div class="container mt-3">
    <h2  class="text-center mb-3" > Fill Form We Contact You Soon </h2>
<form method="POST">
  {% csrf_token %}
  {% if messages %}
        
  {% for message in messages %}
  <div class="alert alert-info">
  {{message}}
  </div>
  {% endfor %}

{% endif %}
    
    <div class="form-outline ">
        <label class="form-label" for="form2Example1">Full Name</label>
      <input type="text" name="full_name" id="form2Example1" class="form-control" />
    </div>
    <div class="form-outline mb-2 ">
        <label class="form-label" for="form2Example1">Email</label>
      <input name="email" type="email" id="form2Example1" class="form-control" />
    </div>
    <div class="form-floating">
        <textarea class="form-control" name="message" placeholder="Leave a Message here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Message</label>
      </div>
    
    

     
    <!-- Submit button -->
    <button type="submit" class="btn btn-success mt-2">Send</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Already Have a Account? <a href="/login">Login</a></p>
      
   
  </form>
</div>
{% endblock body %}